/* ------------ CSS PROPERTIES ------------*/
:root {
    --spacing-1: 1rem;
    --spacing-1_5: 1.5rem;
    --spacing-2: 2rem;
    --col-blue: #0161fe;
}

/* ------------ CSS RESET ------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* ------------ UTILITIES ------------ */
.container-big {
    margin: 0 auto;
    max-width: 1200px;
}
.container-small {
    margin: 0 auto;
    max-width: 900px;
    border: 1px solid black;
}
.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.box {
    flex-basis: 250px;
    height: 250px;
    border: 1px solid black;
}
.col-5 {
    flex-basis: calc(100% / 5);
    height: 250px;
    border: 1px solid black;
}
.col-3 {
    flex-basis: calc(100% / 3);
    border: 1px solid black;
}
.row.g-10 {
    margin: 0 -10px;
}
.row.g-10 > .plan-col {
	padding: 10px;
}
.col-30 {
    flex-basis: 30%;

}
.col-70 {
    flex-basis: 70%;
}
a {
    text-decoration: none;
    color: black;
}
.deco-link {
    color: #3939f1;
    text-decoration: underline;
}
ul {
    list-style: none;
    gap: 30px;
    align-items: center;
}
.btn-large {
    padding: 10px 14px;
    background-color: var(--col-blue);
    color: #fff;
}
.btn-small {
    padding: 8px 12px;
    background-color: var(--col-blue);
    color: #fff;
}
.center {
    text-align: center;
}
.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

/* HEADER */ 
header {
    justify-content: space-between;
    padding: 25px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: #fff;
}
.navbar-left,
.navbar-right {
    display: inline-block;
}
header .container-big {
    height: 100%;
    background-color: aquamarine;
    position: relative;
}

/* MAIN */ 
main section {
    height: 1200px;
    flex-shrink: 0;
    flex-grow: 0;
    justify-content: space-between;
}

    /*JUMBOTRON*/
#jumbotron .container-big{
    flex-wrap: wrap;
}
#jumbotron {
    height: 780px;
    padding-top: 150px;
    background-color: #b5d0e6;
    margin-bottom: 175px;
}
.col-30 * {
    display: inline-block;
}
.col-30 .btn-large {
    margin: 25px 0;
}
.col-70 img {
    width: 100%;
}
.col-70 img {
    flex-basis: 70%;
}
#go-main {
    margin-top: 60px;
    height: 70px;
    width: 70px;
    background-color: #b5d0e6;
    font-size: 1.5rem;
    scroll-behavior: smooth;
    line-height: 70px;
    text-align:center;
}
h1 {
    flex-basis: 100%;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 60px;
}

    /*PLANS*/
.plan-col {
    flex-basis: calc(100% / 3);
    height: 900px;
}   
.plan-col.large {
    flex-basis: 100%;
    height: 250px;
} 
.plan-card {
    border: 3px solid #edecef;
}
#plans h2 {
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
}
#plans .card {
    background-color: cadetblue;
    border: dotted 1px aqua;
}
#functions .card {
    height: 200px;
    background-color: cadetblue;
    border: dotted 1px aqua;
}
.tick-box {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border:3px solid #dadbdc;
    margin-right: 5px;
}
.invoicing p {
    margin-right: 60px;
    line-height: 20px;
    text-align: center;
}
.invoicing {
    padding: 40px 0;
}
.tick-box.checked {
    border:5px solid var(--col-blue);
}
.fa-solid.fa-user {
    color: black;
    padding-right: 5px;
}
.category {
    border-bottom: 3px solid #edecef;
    padding: 10px 0;
}
.plan-card .cat-content {
    padding: 25px;
    text-align: start;
}
.cat-content * {
    margin: 15px 0;
}
#plans ul{
    margin-bottom: 50px;
    padding-left: 1.5em;
    text-indent: -1.2em;
}
#plans li {
    margin-bottom: 25px;
}
#plans li.user-ico:before {
    content: "\f1ad";
    border: 1px solid black;
}
#plans li.folder-ico:before {
    content: "\f07b";
    border: 1px solid black;
}
#plans li.conn-ico:before {
    content: "\f1e0";
    border: 1px solid black;
}
#plans li.check-ico:before {
    content: "\f00c";
    border: 1px solid black;
    color: var(--col-blue);
}
#small-brake {
    margin: 35px 0 ;
    width: 75px;
    border: 1px solid #edecef;
}



#partners {
    height: 400px;
}
#functions {
    height: 700px;
}
#affiliates {
    background-color: burlywood;
    height: 500px;
}
#free-trial {
    padding: 50px 0;
    height: 250px;
    background-color: rgb(96, 165, 226);
}
#FAQ {
    padding: 50px 0;
    height: 350px;
    background-color:dodgerblue;
}

.about-more {
    height: 100px;
    width: 100%;
    background-color: aquamarine;
}
.card.large {
    height: 250px;
}
.box-big {
    width: 500px;
    height: 500px;
}


